#images-box {
	/* The total width of the image-box, mainly for centering */
	width: 600px;
	height:500px;
	margin: 0px auto;
	position: relative;
	display:block;
	overflow:hidden;
	background:white;
	border-top:white solid 3px;
	
}

.image-lightbox img {
	/* Inherit the width and height from the parent element */
	width: inherit;
	height: inherit;
	z-index: 3000;
}

.holder {
	/* The width and height, you can change these */
	width: 190px;
	height: 100px;
	/* Float left, so everything aligns right */
	float: left;
	margin: 0 20px 0 0;
}

.image-lightbox {
	/* Inherit width and height from the .holder */
	width: inherit;
	height: inherit;
	/* Box shadow 
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	background: #fff;
	border-radius: 5px;*/
	/* Position absolutely so we can zoom it out later */
	position: absolute;
	top: 0;
	font-family: Arial, sans-serif;
	/* Transitions to provide some eye candy */
	-webkit-transition: all ease-in 0.5s;
	-moz-transition: all ease-in 0.5s;
	-ms-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}

.image-lightbox span {
	display: none;
}

.image-lightbox .expand {
	width: 600px;
	height: 400px;
	position: absolute;
	top: 0;
	z-index: 4000;
	background: rgba(0,0,0,0); /* Fixes an IE bug */
	left: 0;
}

.image-lightbox .close {
	position: absolute;
	width: 20px; height: 20px;
	right: 20px; top: 20px;
}

.image-lightbox .close a {
	height: auto; width: auto;
	padding: 5px 10px;
	color: #000;
	text-decoration: none;
	background: #fff;
	border-radius: 5px;
	font-weight: bold;
	float: right;
}

.image-lightbox .close a:hover {
	box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);
}

div[id^=image]:target {
	width: 600px;
	height: 300px;
	z-index: 5000;
	top: 120px;
	left: 0px;
}
div[id^=image]:target .close {
	display: block;
}

div[id^=image]:target .expand {
	display: none;
}

div#image-1:target, div#image-2:target, div#image-3:target { left: 0px; }

div#image-1 { left: 0; }
div#image-2 { left: 205px; }
div#image-3 { left: 410px; }
