/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Exo:400);

html,body	{width:100%;}

html		{}
body 	{background:url('backgrounddotsmin2.png') 200% 200% repeat black; color: white; font-family: 'Exo',sans-serif;font-size: 18px; line-height: 25px}
a 		{color:white;}

#header 	{ position:relative;width:600px;height:237px; background:url('LOGO.png') top right no-repeat;top:50px;margin:0 auto 50px auto;}

#content	{width:600px;padding:0 20px; margin:0 auto 50px auto;position:relative;}
#text 		{text-align: justify;}

.image-row   { line-height:27px; font-size:18px; margin:15px 0;position:relative; text-align:left;}
.image-row > div { text-align:right; position:relative; padding:0; display:inline-block; height:100px ;width:190px; margin-right:15px; background:blue;}
.image-row img {display:block; position:absolute;top:0;left:0;z-index:1;}
.image-row span { position:relative; top:46px; z-index:2; padding:3px; background:rgba(100,100,100,0.5); opacity:0.2;}
.image-row > div:hover span {opacity:1;}
.image-row > div.first {margin-left:0;}
.image-row > div.last{margin-right:0;}

.image-row.float {float:right; clear:both; margin:10px 0 10px 10px;}

.fullimg {overflow:hidden;display:block; margin:0 0 10px 0;}
.fullimg img {display:block;}
.fullimg span {position:relative; bottom:50px; z-index:2; float:right; padding:5px; background:rgba(100,100,100,0.5);}

.annotation { text-align:left; line-height:1.5em; font-size:0.6em;color:transparent;display:block; position:relative;float:right;border-left:solid 5px transpatent; width:100px; margin-right:-130px;padding-left:10px;margin-top:3px; }
.annotation:before{content:" ";top:0px;left:-17px;position:absolute; width: 0;border-top: 12px solid transparent;border-bottom: 12px solid transparent;border-right:12px solid #606060;;}

.annotation:hover {color:white; border-left:solid 5px #606060;}
#text p {margin:0 0 10px;}
#text ul { margin-left:5px; }
#text li {padding-left:20px;margin:3px 0;border-left:3px solid #77D8F0;}
#text li:hover {background:#667;}

.gallery .fullimg{display:inline-block;}
.gallery {overflow:scroll; width:600px;}
.gallery .container{width:100000px;}

#nav 		{position:absolute;width:200px;font-size:20px; top:0; right:650px; text-align:right; list-style:none;}
#nav a		{text-decoration: none;color:white; }
#nav span 	{color:#77D8F0;}
#nav li:hover span,
#nav li.selected span {color:white;}

#footer		{overflow:hidden;border-top:2px solid #111;color:#111;width:600px;padding:0 0 20px 0;margin:0 auto 20px auto; text-align: right;}
#footer:hover {border-top:2px solid #111;}
#footer a	{color:#111;}
#footer p:hover,#footer a:hover {color:#77D8F0;}
#footer p.left {float:left; clear:left; }
@media all and (max-width: 900px) {
	#nav {position:relative; top:0;right:0;width:100%;}
	#nav li{display :inline-block;}
}



/*CSS3*/

html{
background-image: linear-gradient(bottom, #5CAAE6 0%, #283861 2%, #000000 62%);
background-image: -o-linear-gradient(bottom, #5CAAE6 0%, #283861 2%, #000000 62%);
background-image: -moz-linear-gradient(bottom, #5CAAE6 0%, #283861 2%, #000000 62%);
background-image: -webkit-linear-gradient(bottom, #5CAAE6 0%, #283861 2%, #000000 62%);
background-image: -ms-linear-gradient(bottom, #5CAAE6 0%, #283861 2%, #000000 62%);
}